
// COLORS

$colorBackgroundHeader: rgb(66, 82, 92);
$colorBackgroundNavigation: rgb(74, 97, 110);
$colorBackgroundCharactersList: rgb(246, 249, 252);

$colorLogo: rgb(213, 213, 213);
$colorTitleHeader: rgb(137, 151, 158);
// + textbuttons + borderbuttons + text: + navigation daenerys + houses + textcharacter
$colorTextHouseHeader: rgb(85, 105, 117);
$colorTitleNavigation: rgb(195, 212, 223);
$colorName: rgb(45, 53, 59);

$colorStarYes: rgb(0, 216, 213);
$colorStarNo: rgb(211, 227, 238);
$colorTriangule: rgb(255, 191, 0);
$colorBorderLeftCharacter: rgb(225, 0, 117);
